$primary: rgba(50, 50, 50, 0.9);
$secondary: rgba(50, 50, 50, 0.7);
$white: #f7f8f9;
$primary-light: rgba(50, 50, 50, 0.1);
$primary-ex-light: rgba(50, 50, 50, 0.05);

$color-1: rgba(50, 50, 50, 0.9);
$color-2: #fe636e33;
$color-3: #ffdd4033;
$reviews-bg: #ede4fe;

$btn: rgba(50, 50, 50, 0.1);

$treatmentcardbg: #f7f8f9;
// dashboardcolor//////////////////////
$color-highlight: #e4a11a;
$nav-link-hover-color: #ff3f40;
$colorwhite: #fff;
$dark: #070a2b;
$sliderbg: #f7f8f9;
$nav-link-hover-color: #e4a11a;
